.nav {
    grid-area: nav;
    }


.nav li {
    padding: 10px 0;
    list-style: none;
    
}

.item {
    font-size: 18px;
    border-bottom: 1px solid #f7f8f8;
    }

.nav a {
    text-decoration: none;
    color: #8b7575;
    
}

.nav a.active {
    color: gold;
}
