.footer {
    grid-area: footer;
    color: white;
    background-color: #231f20;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.text {
margin: 0 auto;
}